<% provide :page_title, "ルーム作成" %>

<h1>ルーム作成</h1>

<%# ここにエラー表示のパーシャルを入れたい %>

<div class="my-4">
  <h2>ルームのURLを決めてください</h2>
  <%= ENV['BASE_URL'] %>/<br>
  <input class="ml-4">&nbsp;/
</div>

<div class="my-4">
  <h2>ルームの名前を決めてください</h2>
  <input class="ml-4">
</div>

<div class="my-4 text-center">
  <input type="button" value="ルーム作成">
</div>
