/ 新規ポスト入力欄
= form_with(model: @post, url: create_post_path, id: 'new_post') do |f|
  = f.hidden_field :room_id, value: current_room_id
  = f.hidden_field :user_id, value: current_user.id
  = render 'shared/error_messages', object: f.object
  .my-4
    = f.label :content
    = f.text_field :content, class: 'form-control w-75',
        autofocus: true, autocomplete: "off"
    = f.submit "投稿", class: "btn btn-primary"

/ 既存ポスト表示欄
#posts_list
  = render 'posts/show', room: @room

/ show only in development environment
- if Rails.env.development?
  = render 'shared/debug_info'
