<%# 既存ポスト表示欄 %>
<div class="my-3">
  <h2>Post List</h2>
  <ul>
  <% room.posts.each do |post| %>
    <li><%= User.find(post.user_id).name %>: <%= post.content %> (<%= post.created_at %>)</li>
  <% end %>
  </ul>
</div>
