<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
    <div class="container">
      <%= link_to "すてチャ(仮)", root_path, class: "navbar-brand" %>

      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#topHambergerMenu"
        aria-controls="topHambergerMenu"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="topHambergerMenu"
        class="collapse navbar-collapse justify-content-end">
        <div class="navbar-nav text-right text-sm-left">
          <%# 以下のメニュー項目は仮のもの。 %>
          <%= link_to "トップ", root_path, class: "nav-item nav-link" %>
          <% if params[:room_id] %>
            <%= link_to "ログイン",
              new_user_session_path(params[:room_id]),
              class: "nav-item nav-link" %>
            <%= link_to "ログアウト",
              destroy_user_session_path(params[:room_id]), method: :delete,
              class: "nav-item nav-link" %>
          <% end %>
        </div>
      </div> <!-- div#topHambergerMenu -->

    </div> <!-- div.container -->
  </nav>
</header>
